.activity-bar {
  width: 3.875rem;
  height: 100%;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--border);
  background-color: var(--bg);
}

.activity-bar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border: none;
  border-left: 2px solid transparent;
  background: none;
}

.activity-bar__button--focused {
  border-left: 2px solid var(--accent);
}

.activity-bar__button:hover .activity-bar__button__icon,
.activity-bar__button--focused .activity-bar__button__icon {
  filter: var(--icon-active-filter);
}

.activity-bar__button__icon {
  width: 100%;
  height: 100%;
  filter: var(--icon-muted-filter);
}
