.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1.75rem;
  border-top: 1px solid var(--border);
  background-color: var(--bg);
}

.status-bar__left {
  display: flex;
  gap: 10px;
}

.status-bar__right {
  display: flex;
  gap: 5px;
}

.status-bar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
  gap: 2px;
}

.status-bar__item:not(.status-bar__item--focused):hover {
  background-color: var(--border);
}

.status-bar__item--focused {
  background-color: var(--accent);
}

.status-bar__item-image {
  width: auto;
  height: 1.1rem;
  filter: var(--icon-active-filter);
}
