.file-path-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 3px 15px 3px 15px;
  background-color: var(--surface);
}

.file-path-bar__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.file-path-bar__button {
  font-size: 0.95rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  min-height: 1.25rem;
  padding: 0;
  color: var(--text-muted);
  border: none;
  background: none;
}

.file-path-bar__button:hover {
  color: var(--text);
}

.file-path-bar__arrow {
  width: 1.25rem;
  height: 1.25rem;
  filter: var(--icon-muted-filter);
}

.file-path-bar__button:hover .file-path-bar__arrow {
  filter: var(--icon-active-filter);
}
