.tab-bar {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  height: 46px;
  user-select: none;
  border-bottom: 1px solid #3c3c3c;
  background: #181818;
}

.tab-bar__tabs {
  display: flex;
  align-items: stretch;
  width: 100%;
}
